export(dBUMfit)
export(dBUMscore)
export(dCommSignif)
export(dContrast)
export(dNetConfidence)
export(dNetFind)
export(dNetInduce)
export(dNetPipeline)
export(dNetReorder)
export(dPvalAggregate)
export(dRWR)
export(eCal)
export(eView)
export(eWrite)
export(visNet)
export(visNetArc)
export(visNetCircle)
export(visNetMul)
export(visNetReorder)
export(visRunES)
import(igraph)
import(supraHex)
